/* line 3, ../sass/video_grid.scss */
.smgVideoGrid {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  margin-bottom: 70px;
}

/* line 4, ../sass/video_grid.scss */
.smgVideoGrid-video {
  float: left;
  width: 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
}

/* line 5, ../sass/video_grid.scss */
.smgVideoGrid-video-group {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  -webkit-transition: all linear 0.8s;
  transition: all linear 0.8s;
}
/* line 9, ../sass/video_grid.scss */
.smgVideoGrid-video-group.ng-hide {
  display: inline-block !important;
  -webkit-transition: all linear 0.8s;
  transition: all linear 0.8s;
}

/* line 15, ../sass/video_grid.scss */
.smgVideoGrid-title {
  font-weight: bold;
  white-space: normal;
}

/* line 16, ../sass/video_grid.scss */
.smgVideoGrid-see-more {
  float: right;
  color: #E75700;
  font-weight: bold;
  margin: 10px;
}
/* line 17, ../sass/video_grid.scss */
.smgVideoGrid-see-more:hover {
  cursor: pointer;
}

/* line 21, ../sass/video_grid.scss */
.smgVideoGrid-see-previous {
  float: left;
  color: #E75700;
  font-weight: bold;
  margin: 10px;
}
/* line 22, ../sass/video_grid.scss */
.smgVideoGrid-see-previous:hover {
  cursor: pointer;
}

/* line 26, ../sass/video_grid.scss */
.smgVideo-counter-clear {
  clear: both;
}
