.leadership-all-companies-list {
  ul li { list-style:none; padding-bottom:9px; }
  ul.company-list { margin:0px; padding:0 0 0 30px }
  .company-list li { padding: 10px 0 3px 0; }
  .taxonomy-name {font-weight:bold; }
  .brackets { color: #000; font-family: Arial,Helvetica,sans-serif; font-size:1.2em; margin-left:1px; }
  .plus-minus { position:relative; color: #e2e9ef; }
  .plus-minus span { top: 0px; left: 0px; text-align: center; width: 100%; color: #1e2a42!important; }
  .youtube-amplified { margin-left:5px; position:relative; top:2px; }
  ul.company-list {-webkit-transition:max-height 0.8s cubic-bezier(0, 1, 0.5, 1); transition:max-height 0.8s cubic-bezier(0, 1, .5, 1); max-height: 0; visibility: hidden; }
  ul.company-list.slideDown { visibility: visible; -webkit-transition:max-height 0.8s cubic-bezier(0, 1, 0.5, 1); transition:max-height 0.8s cubic-bezier(0, 1, 0.5, 1); overflow: visible; }
  ul.company-list { -webkit-transition:max-height 0.8s cubic-bezier(0, 1, 0.5, 1); transition:max-height 0.8s cubic-bezier(0, 1, 0.5, 1); overflow: hidden; }
  .taxonomy-tid { position:relative; }
  ul.company-list.hide { display: none; }
  ul.company-list.invisible { visibility: hidden; position: absolute; display: block; max-height: none; }
}
