#wrapper-360 {margin:10px; border:1px solid #000; padding:8px;}
#content {width:100%;}
.node .form-item {height:100%;}
.infoDiv .info-deckhead {padding-top:20px;}

@media (min-width: 640px) {
  .page-node #content .node .content, .page-node .node .form-item, .page-node #holder360 {min-height:500px;}
}